.row {
  display: flex;
}

.card {
  margin-top: 20px;
}

.card-grid {
  flex: 1;
  flex-direction: row; 
  margin: 2px;
  border: 1px solid #000;
  padding: 10px;
}

.container button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
}

.busca {
  display: flex;
  
}

.buscaCampo {
  margin: 2px;
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
  flex: 1;
}

.buscaCampo > h1 {
  font-size: 30px;
}

.buscaCampo input {
  font-size: 25px;
  text-align: center;
}