.container {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}


.card-grid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaflet-container {
  height: clamp(300px, 100vh, 100vh) !important;
  width: clamp(300px, 100vw, 100vw) !important;
  border: 1px solid black;
}


.card:hover {
  background-color: rgb(255, 255, 255);
}

.container button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
}

.busca {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.buscaCampo {
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
  flex: 1;
}

.buscaCampo h1 {
  font-size: 30px;
}

.buscaCampo input {
  font-size: 25px;
  border: 0.5px solid black;
  text-align: center;
}
